<!DOCTYPE html>

<html>
    <head>
        <%- include("../pieces/head.ejs") %>
        <title>Home – TypicalBot</title>
    </head>
    <body>
        <%- include("../pieces/navigation.ejs") %>

        <div class="frame row">
            <% if (auth) { %>
                <div class="frame-nav scroll">
                    <% if (guilds.filter(g => g.isMember).length) { %>
                        <p class="title">Manage a Server</p>
                        <ul class="guilds">
                            <% guilds.filter(g => g.isMember).sort((a,b) => { if (a.name.toLowerCase() < b.name.toLowerCase()) return -1; if (a.name.toLowerCase() > b.name.toLowerCase()) return 1; return 0}).forEach(g => { %>
                                <li>
                                    <a href="/guilds/<%= g.id %>">
                                        <% if (g.icon) { %>
                                            <img class="aling-top" src="https://cdn.discordapp.com/icons/<%= g.id %>/<%= g.icon %>.jpg" />
                                        <% } else { %>
                                            <canvas class="guild-icon align-top" id="<%= g.id %>" data-guild-name="<%= g.name %>" width="30" height="30"></canvas>
                                        <% } %>
                                        <%= g.name %>
                                    </a>
                                </li>
                            <% }) %>
                        </ul>

                        <hr class="my-2">
                    <% } %>
                    <p class="title">Invite to a Server</p>
                    <ul class="guilds">
                        <% guilds.filter(g => !g.isMember).sort((a,b) => { if (a.name.toLowerCase() < b.name.toLowerCase()) return -1; if (a.name.toLowerCase() > b.name.toLowerCase()) return 1; return 0}).forEach(g => { %>
                            <li>
                                <a href="/guilds/<%= g.id %>">
                                    <% if (g.icon) { %>
                                        <img class="aling-top" src="https://cdn.discordapp.com/icons/<%= g.id %>/<%= g.icon %>.jpg" />
                                    <% } else { %>
                                        <canvas class="guild-icon align-top" id="<%= g.id %>" data-guild-name="<%= g.name %>" width="30" height="30"></canvas>
                                    <% } %>
                                    <%= g.name %>
                                </a>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            <% } %>

            <div class="frame-page scroll" <% if (!auth) { %> style="width: 100%;" <% } %>>
                <div <% if (!auth) { %> class="container" <% } %>>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="breadcrumb-item"><a href="/guilds">Guilds</a></li>
                        </ol>
                    </nav>
                    
                    <div class="jumbotron">
                        <h1 class="display-4" id="ignoretheme">What is TypicalBot? <img src="/x/images/think.png" height=40 class="align-center"></h1>
                        <hr class="my-4">
                        <p class="lead" id="ignoretheme">It is a <i>typical</i> bot, of course!<i>...psych!</i></p>
                        <br>
                        <p class="lead" id="ignoretheme">Built upon over a year of experience, TypicalBot is the ironically-named bot that is far from typical. Stable, lightning fast, and easy to use, TypicalBot is there for you and will seamlessly help you moderate your server and offer some entertaining features for your users, every step of the way.</p>
                    </div>

                    <hr class="my-4">
                </div>
            </div>
        </div>
    </body>
</html>
